<script>
    const seconds_inc = 1000;
    const minutes_inc = seconds_inc * 60;
    const hours_inc = minutes_inc * 60;

    // Set the clock values
    function set_seconds() {
        $('#second').html(new Date().getSeconds());
    }
    function set_minutes() {
        $('#minute').html(new Date().getMinutes());
    }
    function set_hours() {
        $('#hour').html(new Date().getHours());
    }

    // Starts the timers for each value
    function start_clock() {
        // Re-initialize all the values
        set_seconds();
        set_minutes();
        set_hours();
        // Set timers
        setInterval(set_seconds, seconds_inc);
        setInterval(set_minutes, minutes_inc);
        setInterval(set_hours, hours_inc);
    }

    // Initialize all the values
    set_seconds();
    set_minutes();
    set_hours();

    var seconds = new Date().getSeconds();
    var ticks = 60 - seconds;
    var secondsInterval = setInterval(function() {
        set_seconds();
        ticks--;
        if (ticks == 0) {
            window.clearInterval(secondsInterval);
            start_clock();
        }
    }, seconds_inc);
</script>