{% extends "dashboard/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
    <link href="{% static 'users/css/form.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% include "dashboard/includes/nav.html" with login="true" %}

    <div class="text-center">
        <form class="form-centered" method="POST">
            {% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <fieldset>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                <small>
                    <a href="#">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div>
            <small class="mb-3 text-muted">
                Need An Account? <a href="{% url 'user-register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
{% endblock %}