
{% extends "dashboard/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'dashboard/css/django-home.css' %}">
    <style>
        .module {
            position: absolute;
        }
    {% for module, values in modules.items %}
        {% with id=values.id|escapejs type=values.type|escapejs %}
            {% include "dashboard/includes/module_style.html" %}
        {% endwith %}
    {% endfor %}
    </style>
    {% for module in unique_modules %}
        {% include module|escapejs|add:"/includes/"|add:module|escapejs|add:"_styles.html" %}
    {% endfor %}
    {% block update-styles %}{% endblock update-styles %}
{% endblock styles %}

{% block content %}
<div id="dashboard" class="dashboard">
    {% block update-content %}{% endblock update-content %}
    {% for module, values in modules.items %}
        {% with id=values.id|escapejs type=values.type|escapejs content=values.content %}
            {% include "dashboard/includes/module_content.html" %}
        {% endwith %}
    {% endfor %}
</div>
<div id="module-list">
    {% for module in unique_modules %}
        <input id="module-type-{{ forloop.counter0 }}" type="hidden" value="{{ module }}">
    {% endfor %}
</div>
{% endblock content %}

{% block scripts %}
    {% for module in unique_modules %}
        {% include module|escapejs|add:"/includes/"|add:module|escapejs|add:"_scripts.html" %}
    {% endfor %}

    {% block update-scripts %}{% endblock update-scripts %}
{% endblock scripts %}