
{% extends "dashboard/base.html" %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'dashboard/css/django-home.css' %}">
    <style>
        .module {
            position: absolute;
        }
    {% for module, values in modules.items %}
        {% with id=values.id|escapejs type=values.type|escapejs %}
        {#% include values.styles|escapejs with id=id %#}
            #id-{{ type }}-{{ id }} {
                z-index: {{ values.z_index }};
                top: {{ values.top }}px;
                left: {{ values.left }}px;
                color: {{ values.text_color }}
            }
        
        {% endwith %}
    {% endfor %}
    </style>
    {% for module in unique_modules %}
        {% include module|escapejs|add:"/includes/"|add:module|escapejs|add:"_styles.html" %}
    {% endfor %}
    {% block update-styles %}{% endblock update-styles %}
{% endblock styles %}

{% block content %}
<div id="dashboard" class="dashboard">
    {% block update-content %}{% endblock update-content %}
    <!-- <h1>{{ user }}'s Dashboard</h1> -->
    {% for module, values in modules.items %}
        <div id="id-{{ values.type|escapejs }}-{{ values.id|escapejs }}" class="module">
            {#% include values.page|escapejs %#}
            {{ values.content }}
        </div>
    {% endfor %}
</div>
{% endblock content %}

{% block scripts %}
    {#% for module, values in modules.items %#}  
        {#% include values.scripts|escapejs with id=values.id|escapejs %#}
    {#% endfor %#}
    {% for module in unique_modules %}
        {% include module|escapejs|add:"/includes/"|add:module|escapejs|add:"_scripts.html" %}
    {% endfor %}

    {% block update-scripts %}{% endblock update-scripts %}
{% endblock scripts %}