{% extends "dashboard/dashboard.html" %}

{% block update-styles %}
    <style>
        .moveable {
            border: 1px solid #d3d3d3;
            cursor: move;
        }
    </style>
{% endblock %}

{% block update-content %}
<div style='z-index: 100; position: absolute'>
    <form id='update-dashboard'>
        <button id='update-button' class='btn btn-primary' type='submit' disabled>Save Dashboard</button>
    </form>
    <div id='update-response' style='color: green'></div>
    <small>
        <a href="{% url 'home' %}">Back</a>
        <span style='color: white;'>&nbsp;|&nbsp;</span>
        <a href="{% url 'dashboard' %}">Dashboard</a>
    </small>
    <p>
    <button id='add-button' class='btn btn-success' type='button'>Add Module</button>
    </p>
</div>
{% endblock %}

{% block update-scripts %}
<script>
    jQuery(function() {
    //TEST
    $(window).resize(function() {
        // This will execute whenever the window is resized
        var h=$(window).height(); // New height
        var w=$(window).width(); // New width
        console.log(w + 'x' + h)
    });
    //

    function disableButton() {
        $('#update-button').attr('disabled', 'disabled');
    }

    function enableButton() {
        $('#update-button').removeAttr('disabled');
    }

    function isButtonDisabled() {
        return $('#update-button').attr('disabled');
    }

    const Z_INDEX_MAX = 100;
    const Z_INDEX_MIN = -100;

    modules = [];
    // TODO: Move this into only JQuery code

    {% for module, values in modules.items %}
        {% with id=values.id|escapejs type=values.type|escapejs %}
            {% if values.moveable is True %}
                $('#id-{{ type }}-{{ id }}')
                    .addClass('moveable')
                    .ready(function() {
                        dragElement(document.getElementById('id-{{ type }}-{{ id }}'));
                });
            {% endif %}
        {% endwith %}
    {% endfor %}

    // Add button
    $('#add-button').click(function() {
        $.get('/modules/add/', {}, function(data) {
            $('#dashboard').addClass('dashboard-background');
            // TODO: append to directly after #dashboard
            $('#dashboard').after(data.content);
            $('#add-cancel').click(function() {
                $('#add-form-container').remove();
                $('#dashboard').removeClass('dashboard-background');
            });
            console.log('Got an add response!');
            console.log(data.content);
            $('#id_module_type').change(function() {
                console.log('module type changed!');
                $.ajax({
                    type: 'GET',
                    url: '/modules/add/form/',
                    dataType: 'json',
                    data: {
                        module_type: $('#id_module_type option:selected').text()
                    },
                    success: function(data) {
                        $('#extended_form').html(data.extended_form);
                        var extended_script = document.createElement('script');
                        extended_script.setAttribute('id', 'id-extended-script');
                        extended_script.onload = function () {
                            //do stuff with the script
                        };
                        extended_script.src = data.extended_script;

                        document.body.appendChild(extended_script);
                    }
                })
            });
            $('#add-form').submit(function(e) {
                $.post('/modules/add/', $(this).serialize(), function(data) {
                    // Delete the form's script
                    $('#id-extended-script').remove();
                    // Remove the pop-up
                    $('#add-form-container').remove();
                    $('#dashboard').removeClass('dashboard-background');
                    // Add the new module
                    console.log(data);
                    //$('head').append('<style>' + data.style + '</style>') // NOTE see views.py why appending to the head may not be a good idea
                    //     .ready(function() {
                    $('#dashboard').append(data.content).ready(function() {
                        var module_id = 'id-' + data.type + '-' + data.id;
                        $('#' + module_id)
                            .css('z-index', data.values.zindex)
                            .css('top', data.values.top)
                            .css('left', data.values.left)
                            .css('color', data.values.color)
                        var fn = window[data.method];
                        if (typeof fn === 'function') {
                            console.log(data.method + ' is a function!');
                            fn(data.id);
                        }
                        if (data.values.moveable) {
                            console.log('module id: ' + module_id);
                            console.log('Exists? ' + $('#'+module_id).length);
                            $('#' + module_id)
                                .addClass('moveable')
                                .ready(function() {
                                    dragElement(document.getElementById(module_id));
                                    createModuleButtons($('#' + module_id));
                                });
                        }
                    });
                    //        });
                    //     });
                    //$('body').append(data.script);
                });
                e.preventDefault();
            });
        });
    });


    // Initialize all module buttons
    $('div').filter(function() {
        return this.id.match(/id-.+-\d+/);
    }).each(function() {
        if (!$(this).hasClass('moveable')) {
            return;
        }
        createModuleButtons($(this));
    });

    function createModuleButtons(elmnt) {
        var id = elmnt.attr('id').match(/id-.+-(\d+)/)[1];
        var delete_button = $('<input id="delete-' + id + '" type="button" value="X" class="module-button">');
        var edit_button = $('<input id="edit-' + id + '" type="button" value="E" class="module-button">');
        var up_button = $('<input id="up-' + id + '" type="button" value="^" class="module-button">');
        var down_button = $('<input id="down-' + id + '" type="button" value="v" class="module-button">');
        elmnt.children().wrapAll('<div id="module-' + id + '" class="module-container"></div>');
        sub_div = elmnt.find('#module-' + id);
        if (elmnt.hasClass('moveable')) {
            elmnt.removeClass('moveable');
            sub_div.addClass('moveable');
        }
        var button_div = elmnt.append('<div id="buttons-' + id + '" class="button-container"></div>').find('#buttons-' + id);
        button_div
            .append(delete_button)
            .append(edit_button)
            .append(up_button)
            .append(down_button)
        // Delete button
        button_div.find('#delete-' + id).click(function() {
            console.log('delete module for ' + $(this).attr('id'));
            $.ajax(
                {
                type:"GET",
                url: "/modules/" + id + "/delete/",//"{#% url 'update-module' %#}",
                dataType: "json",
                data:{
                        //csrfmiddlewaretoken: '{{ csrf_token }}',
                        //'id_data[]': id_data_temp
                },
                success: function(data) 
                {
                    $('#dashboard').addClass('dashboard-background');
                    // TODO: append to directly after #dashboard
                    $('#dashboard').after(data.content);
                    // Add function to delete button
                    $('#delete-cancel-' + id).click(function() {
                        $('#delete-form-' + id).remove();
                        $('#dashboard').removeClass('dashboard-background');
                    });
                    $('#form-' + id).submit(function(e) {
                        $.post('/modules/' + id + '/delete/', $(this).serialize(), function(data) {
                            // Delete the module's div
                            $('#module-' + id).parent().remove();
                            // Remove the pop-up
                            $('#delete-form-' + id).remove();
                            $('#dashboard').removeClass('dashboard-background');
                        });
                        e.preventDefault();
                    });
                }
            });
        });
        // Edit button
        button_div.find('#edit-' + id).click(function() {
            console.log('edit module for ' + $(this).attr('id'))
            $.ajax(
            {
                type:"GET",
                url: "/modules/" + id + "/update/",//"{#% url 'update-module' %#}",
                dataType: "json",
                data:{
                        //csrfmiddlewaretoken: '{{ csrf_token }}',
                        //'id_data[]': id_data_temp
                },
                success: function(data) 
                {
                    console.log('We updated the module!');
                    $('#dashboard').addClass('dashboard-background');
                    // TODO: append to directly after #dashboard
                    $('#dashboard').after(data.content);
                    // Add functionality to cancel button
                    $('#update-cancel-' + id).click(function() {
                        $('#update-form-' + id).remove();
                        $('#dashboard').removeClass('dashboard-background');
                    });
                    $('#form-' + id).submit(function(e) {
                        $.post('/modules/' + id + '/update/', $(this).serialize(), function(data) {
                            $('#module-' + id).html(data.content);
                            $('#update-form-' + id).remove();
                            $('#dashboard').removeClass('dashboard-background');
                            var fn = window[data.method];
                            if (typeof fn === 'function') {
                                console.log(data.method + ' is a function!');
                                fn(id);
                            }
                        });
                        e.preventDefault();
                    });
                }
            })
        });
        // Arrows for z-index
        button_div.find('#up-' + id).click(function() {
            var z_index = parseInt(elmnt.css('z-index'));
            if (z_index+1 <= Z_INDEX_MAX) {
                elmnt.css('z-index', z_index+1);
                if (z_index+1 === Z_INDEX_MAX) {
                    $('#up-' + id).attr('disabled', 'disabled');
                }
                else if ($('#down-' + id).attr('disabled')) {
                    $('#down-' + id).removeAttr('disabled');
                }
            }
            enableButton();
        });
        button_div.find('#down-' + id).click(function() {
            var z_index = parseInt(elmnt.css('z-index'));
            if (z_index-1 >= Z_INDEX_MIN) {
                elmnt.css('z-index', z_index-1);
                if (z_index-1 === Z_INDEX_MIN) {
                    $('#down-' + id).attr('disabled', 'disabled');
                }
                else if ($('#up-' + id).attr('disabled')) {
                    $('#up-' + id).removeAttr('disabled');
                }
            }
            enableButton();
        });
    }

    //Make the DIV element draggable:
    //for (module in modules) {
    //   $('.'+module).ready(function() {
    //        dragElement(document.getElementById(module))
    //    });
    //}

    function updateButtonsPos(id) {
        if (parseInt($('#buttons-' + id).parent().css('left')) +
                $('#module-' + id).width() +
                $('#buttons-'+id).width() >= $('#dashboard')[0].clientWidth) {
            console.log('Move to the left!')
            $('#buttons-' + id).addClass('buttons-left');
            $('#buttons-' + id).css('left', -$('#buttons-' + id).width() + 'px')
        }
        else if ($('#buttons-' + id).hasClass('buttons-left')) {
            $('#buttons-' + id).removeClass('buttons-left');
            $('#buttons-' + id).css('left', '');
            console.log('Move back to the right!');
        }
    }

    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        elmnt.onmousedown = dragMouseDown;

        function dragMouseDown(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmouseup = closeDragElement;
            // call a function whenever the cursor moves:
            document.onmousemove = elementDrag;
        }

        function elementDrag(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            
            // check bounds and set the element's new position:
            var newX = elmnt.offsetLeft - pos1;
            var newY = elmnt.offsetTop - pos2;
            var id = elmnt.id.match(/id-.+-(\d+)/)[1];
            if (newX >= 0 && newX + $('#module-' + id).width() <= $('#dashboard')[0].clientWidth) {
                elmnt.style.left = (newX) + "px";
            }
            if (newY >= 0 && newY + $('#module-' + id).height() <= $('#dashboard')[0].clientHeight) {
                elmnt.style.top = (newY) + "px";
            }
            
            // Update positions of the buttons div
            // TODO: we may want to put this in if-statement for newX check
            updateButtonsPos(id);

            // Enable the update button if needed
            if (isButtonDisabled()) {
                enableButton();
            }
        }

        function closeDragElement() {
            /* stop moving when mouse button is released:*/
            document.onmouseup = null;
            document.onmousemove = null;
        }
    }   
    
    function processUpdate(e) {
        if (e.preventDefault) e.preventDefault();

        var ids_to_save = [];
        $(document.body).find('div').each(function(){ 
            if (this.id.match(/id-.+-\d+/)) {
                ids_to_save.push(this.id);
            }
        });
        console.log('Saving the valid ids: [' + ids_to_save +']');

        savePositions(ids_to_save);

        // You must return false to prevent the default form behavior
        return false;
    }

    // $(document).ajaxComplete(function() {
    //     console.log('ajax done!')
    //     $(document.body).find('div').each(function() { 
    //         if (this.id.match(/id-.+-\d+/)) {
    //             var id = this.id.match(/id-.+(\d+)/)[0];
    //             updateButtonsPos(id);
    //         }
    //     });
    // });

    var form = document.getElementById('update-dashboard');
    if (form.attachEvent) {
        form.attachEvent('submit', processUpdate);
    } else {
        form.addEventListener('submit', processUpdate);
    }

    function savePositions(ids) {
        var id_data_temp = [];
        
        for (i in ids) {
            var id_div = $('#'+ids[i]);
            id_data_temp.push(
                JSON.stringify({
                    'id': ids[i],
                    'top': id_div.css('top'),
                    'left': id_div.css('left'),
                    'z-index': id_div.css('z-index')
                })
            );
        }
        console.log('Sending the data:\n'+id_data_temp);

        $.ajax(
        {
            type:"GET",
            url: "{% url 'dashboard-update-save' %}",
            dataType: "json",
            data:{
                    //csrfmiddlewaretoken: '{{ csrf_token }}',
                    'id_data[]': id_data_temp
            },
            success: function(data) 
            {
                // TODO: modify things here? Maybe fade out save button
                console.log('We saved the positions!');
                $('#update-response').html('Positions saved!');
                disableButton();
            }
        })
    }
    });
</script>
{% endblock %}