{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'weather/css/weather-icons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'weather/css/weather-icons-wind.min.css' %}">
    <style>
        .wi {
            font-size: 40px;
            color: darkgrey;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Weather</title>
    {% endif %}
</head>
<body>
    {% block content %}{% endblock %}
    
</body>
</html>