{% extends "dashboard/base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'weather/css/weather-icons.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'weather/css/weather-icons-wind.min.css' %}">
<style>
    .wi {
        font-size: 40px;
        color: darkgrey;
    }
</style>
{% endblock styles %}

{% block content %}
    <h1>Home</h1>
    <h2>Time:</h2>
    <p>
        <span id="hour">00</span>:<span id="minute">00</span>:<span id="second">00</span>
    </p>
    <h2>Current Weather:</h2>
    <p>
        City: <span id="city">{{ city }}</span>, <span id="country">{{ country }}</span><br/>
        Coords: (<span id="lat">{{ latitude }}</span>, <span id="lon">{{ longitude }}</span>)<br/>
        Wind speed: <span id="wind_speed">{{ wind.speed }}</span><br/>
        Wind degree: <span id="wind_deg">{{ wind.deg }}</span>&nbsp;<i id="wind_deg-icon"></i><br/>
        Humidity: <span id="humidity">{{ humidity }}</span>%<br/>
        Temperature: <span id="temp">{{ temperature.temp }}</span> F (<span id="temp_min">{{ temperature.temp_min }}</span> - <span id="temp_max">{{ temperature.temp_max }}</span>)<br/>
        Weather status: <span id="status">{{ status }}</span><br/>
        Detailed status: <span id="details">{{ details }}</span><br/>
        Weather code: <span id="code">--</span><br/>
        Icon: <i id="weather-icon" class="wi wi-na"></i>
    </p>
    <h2>Forecast:</h2>
    <div id="forecasts"></div>
    
    <form id="latlon-form">
        <input type="text" id="lat-in" name="lat-in" /><br />
        <input type="text" id="lon-in" name="lon-in" /><br />
        <button type="submit">Update</button>
    </form>

    <div id="mapholder"></div>

    
{% endblock content %}

{% block scripts %}
<script>
    window.onload = function() {
        getLocation();
    }

    const seconds_inc = 1000;
    const minutes_inc = seconds_inc * 60;
    const hours_inc = minutes_inc * 60;
    function init_clock() {
        // Increment seconds
        setInterval(function() {
            var seconds = new Date().getSeconds();
            $('#second').html(seconds);
        }, seconds_inc);
        // Increment minutes
        setInterval(function() {
            var minutes = new Date().getMinutes();
            $('#minute').html(minutes);
        }, minutes_inc);
        // Increment hours
        setInterval(function() {
            var hours = new Date().getHours();
            $('#hour').html(hours);
        }, hours_inc);
    }
    $(function(){
        // Initialize the values:
        var now = new Date();
        var seconds = now.getSeconds();
        $('#second').html(seconds);
        var minutes = now.getMinutes();
        $('#minute').html(minutes);
        var hours = now.getHours();
        $('#hour').html(hours);

        // Wait until we hit a new minute
        while (seconds != 0) {
            seconds = new Date().getSeconds();
            $('#second').html(seconds);
        }
        // Re init minutes and hours
        minutes = new Date().getMinutes();
        $('#minute').html(minutes);
        hours = new Date().getHours();
        $('#hour').html(hours);
        // Call function to set intervals
        init_clock();
    });

    
    
    function processForm(e) {
        if (e.preventDefault) e.preventDefault();

        latitude = document.getElementById("lat-in").value;
        longitude = document.getElementById("lon-in").value;

        console.log("New latitude: " + latitude + "\nNew longitude: " + longitude)

        setPosition(latitude, longitude);

        // You must return false to prevent the default form behavior
        return false;
    }

    var form = document.getElementById('latlon-form');
    if (form.attachEvent) {
        form.attachEvent("submit", processForm);
    } else {
        form.addEventListener("submit", processForm);
    }

    //var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                // Success function
                setGeoPosition, 
                // Error function
                null, 
                // Options. See MDN for details.
                {
                    enableHighAccuracy: true,
                    timeout: 5000,
                    maximumAge: 0
                });
        } else { 
            //x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function setGeoPosition(position) {
        setPosition(position.coords.latitude, position.coords.longitude)
    }

    function setPosition(latitude, longitude) {
        $.ajax(
        {
            type:"GET",
            url: "/update_weather",
            dataType: "json",
            data:{
                    //csrfmiddlewaretoken: '{{ csrf_token }}',
                    lat: latitude,
                    lon: longitude
            },
            success: function(data) 
            {
                $('#lat').html(data.latitude);
                $('#lon').html(data.longitude);
                $('#city').html(data.city);
                $('#country').html(data.country);
                $('#wind_speed').html(data.wind.speed);
                $('#wind_deg').html(data.wind.deg);
                $('#wind_deg-icon').removeAttr('class');
                $('#wind_deg-icon').addClass('wi wi-wind towards-' + data.wind.deg + '-deg');
                $('#humidity').html(data.humidity);
                $('#temp').html(data.temperature.temp);
                $('#temp_min').html(data.temperature.temp_min);
                $('#temp_max').html(data.temperature.temp_max);
                $('#status').html(data.status);
                $('#details').html(data.details);
                $('#code').html(data.code);
                $('#weather-icon').removeAttr('class');
                $('#weather-icon').addClass('wi wi-owm-' + data.time_of_day + '-' + data.code);

                forecasts = [];
                // Create forecasts
                for (i in data.forecasts) {
                    w = data.forecasts[i]
                    forecasts.push('<p>' +
                        '<strong>Time: ' + w.time + '</strong><br/>' + 
                        'Temp: ' + w.temp.temp + ' F (' + w.temp.temp_min + ' - ' + w.temp.temp_max + ')<br/>' +
                        'Status: ' + w.status + '<br/>' +
                        'Code: ' + w.code + '<br/>' +
                        'Time of day: ' + w.time_of_day + '<br/>' +
                        'Icon: <i class="wi wi-owm-' + w.time_of_day + '-' + w.code + '"></i>' +
                        '</p>' 
                    );
                }
                $('#forecasts').html(forecasts)
            }
        })
        /*x.innerHTML="Latitude: " + position.coords.latitude + 
            "<br>Longitude: " + position.coords.longitude;  

        // Display on a map
        var latlon = position.coords.latitude + "," + position.coords.longitude;

        var img_url = "http://maps.googleapis.com/maps/api/staticmap?center=" + latlon + "&zoom=14&size=400x300&sensor=false";

        document.getElementById("mapholder").innerHTML = "<img src='" + img_url + "'>";
        */
    }

    function showError(error) {
        /*switch(error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }*/
    }
</script>
{% endblock scripts %}