{% load static %}

<h2>Current Weather:</h2>
<p>
    City: <span id="city-{{ id }}">{{ city }}</span>, <span id="country-{{ id }}">{{ country }}</span><br/>
    Coords: (<span id="lat-{{ id }}">{{ latitude }}</span>, <span id="lon-{{ id }}">{{ longitude }}</span>)<br/>
    Wind speed: <span id="wind_speed-{{ id }}">{{ wind.speed }}</span><br/>
    Wind degree: <span id="wind_deg-{{ id }}">{{ wind.deg }}</span>&nbsp;<i id="wind_deg-icon-{{ id }}"></i><br/>
    Humidity: <span id="humidity-{{ id }}">{{ humidity }}</span>%<br/>
    Temperature: <span id="temp-{{ id }}">{{ temperature.temp }}</span> F (<span id="temp_min-{{ id }}">{{ temperature.temp_min }}</span> - <span id="temp_max-{{ id }}">{{ temperature.temp_max }}</span>)<br/>
    Weather status: <span id="status-{{ id }}">{{ status }}</span><br/>
    Detailed status: <span id="details-{{ id }}">{{ details }}</span><br/>
    Weather code: <span id="code-{{ id }}">--</span><br/>
    Icon: <i id="weather-icon-{{ id }}" class="wi wi-na"></i>
</p>

<form id="latlon-form-{{ id }}">
    <input type="text" id="lat-in-{{ id }}" name="lat-in" /><br />
    <input type="text" id="lon-in-{{ id }}" name="lon-in" /><br />
    <button type="submit">Update</button>
</form>

{% if forecast %}
    <h2>Forecast:</h2>
    <div id="forecasts-{{ id }}"></div>
{% endif %}