{% load static %}

<div class="container text-nowrap">
    <div class="row">
        <div class="col city">
            <span id="city-{{ id }}">{{ city }}</span>, <span id="country-{{ id }}">{{ country }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col weather-icon">
            <i id="weather-icon-{{ id }}" class="wi wi-na"></i>
        </div>
        <div class="col">
            <div class="row">
                <div class="col temp">
                    <span id="temp-{{ id }}">{{ temperature.temp }}</span>&#176; <span id="temp-unit-{{ id }}">{{ unit }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col temp-range">
                    <div class="row">
                        <div class="col">
                            <span id="temp_max-{{ id }}">{{ temperature.temp_max }}</span>&#176; <span id="temp-unit-{{ id }}-max">{{ unit }}</span> high
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span id="temp_min-{{ id }}">{{ temperature.temp_min }}</span>&#176; <span id="temp-unit-{{ id }}-min">{{ unit }}</span> low
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center">
        <div style="display: inline-block; text-align: left">
        <div class="row">
            <div class="col status">
                <span id="details-{{ id }}">{{ details }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col humidity">
                <span id="humidity-{{ id }}">{{ humidity }}</span>% humidity
            </div>
        </div>
        <div class="row">
            <div class="col wind">
                Wind:&nbsp;<span id="wind_speed-{{ id }}">{{ wind.speed }}</span>mph&nbsp;<i id="wind_deg-icon-{{ id }}"></i>
            </div>
        </div>
        </div>
    </div>
    <!--
    Coords: (<span id="lat-{{ id }}">{{ latitude }}</span>, <span id="lon-{{ id }}">{{ longitude }}</span>)
    Wind degree: <span id="wind_deg-{{ id }}">{{ wind.deg }}</span>
    Weather status: <span id="status-{{ id }}">{{ status }}</span><br/>
    -->
</div>

<!--
<form id="latlon-form-{{ id }}">
    <input type="text" id="lat-in-{{ id }}" name="lat-in" /><br />
    <input type="text" id="lon-in-{{ id }}" name="lon-in" /><br />
    <button type="submit">Update</button>
</form>
-->