body {
    background-color: black;
    text-shadow: 1px 1px black;
}

.module-container {
    display: inline-block;
    border: 2px;
}

.button-container {
    display: inline-block;
}

.module-button {
    margin: 2px;
    display: block;
}