<script>
    window.onload = function() {
        getLocation();
    }

    function processForm(e) {
        if (e.preventDefault) e.preventDefault();

        latitude = $("lat-in").value;
        longitude = $("lon-in").value;

        console.log("New latitude: " + latitude + "\nNew longitude: " + longitude)

        setPosition(latitude, longitude);

        // You must return false to prevent the default form behavior
        return false;
    }

    var form = document.getElementById('latlon-form');
    if (form.attachEvent) {
        form.attachEvent("submit", processForm);
    } else {
        form.addEventListener("submit", processForm);
    }

    //var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                // Success function
                setGeoPosition, 
                // Error function
                null, 
                // Options. See MDN for details.
                {
                    enableHighAccuracy: true,
                    timeout: 5000,
                    maximumAge: 0
                });
        } else { 
            //x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function setGeoPosition(position) {
        setPosition(position.coords.latitude, position.coords.longitude)
    }

    function setPosition(latitude, longitude) {
        $.ajax(
        {
            type:"GET",
            url: "/update_weather",
            dataType: "json",
            data:{
                    //csrfmiddlewaretoken: '{{ csrf_token }}',
                    lat: latitude,
                    lon: longitude
            },
            success: function(data) 
            {
                $('#lat').html(data.latitude);
                $('#lon').html(data.longitude);
                $('#city').html(data.city);
                $('#country').html(data.country);
                $('#wind_speed').html(data.wind.speed);
                $('#wind_deg').html(data.wind.deg);
                $('#wind_deg-icon').removeAttr('class');
                $('#wind_deg-icon').addClass('wi wi-wind towards-' + data.wind.deg + '-deg');
                $('#humidity').html(data.humidity);
                $('#temp').html(data.temperature.temp);
                $('#temp_min').html(data.temperature.temp_min);
                $('#temp_max').html(data.temperature.temp_max);
                $('#status').html(data.status);
                $('#details').html(data.details);
                $('#code').html(data.code);
                $('#weather-icon').removeAttr('class');
                $('#weather-icon').addClass('wi wi-owm-' + data.time_of_day + '-' + data.code);

                /*
                forecasts = [];
                // Create forecasts
                for (i in data.forecasts) {
                    w = data.forecasts[i]
                    forecasts.push('<p>' +
                        '<strong>Time: ' + w.time + '</strong><br/>' + 
                        'Temp: ' + w.temp.temp + ' F (' + w.temp.temp_min + ' - ' + w.temp.temp_max + ')<br/>' +
                        'Status: ' + w.status + '<br/>' +
                        'Code: ' + w.code + '<br/>' +
                        'Time of day: ' + w.time_of_day + '<br/>' +
                        'Icon: <i class="wi wi-owm-' + w.time_of_day + '-' + w.code + '"></i>' +
                        '</p>' 
                    );
                }
                $('#forecasts').html(forecasts)
                */
            }
        })
        /*x.innerHTML="Latitude: " + position.coords.latitude + 
            "<br>Longitude: " + position.coords.longitude;  

        // Display on a map
        var latlon = position.coords.latitude + "," + position.coords.longitude;

        var img_url = "http://maps.googleapis.com/maps/api/staticmap?center=" + latlon + "&zoom=14&size=400x300&sensor=false";

        document.getElementById("mapholder").innerHTML = "<img src='" + img_url + "'>";
        */
    }

    function showError(error) {
        /*switch(error.code) {
            case error.PERMISSION_DENIED:
                x.innerHTML = "User denied the request for Geolocation."
                break;
            case error.POSITION_UNAVAILABLE:
                x.innerHTML = "Location information is unavailable."
                break;
            case error.TIMEOUT:
                x.innerHTML = "The request to get user location timed out."
                break;
            case error.UNKNOWN_ERROR:
                x.innerHTML = "An unknown error occurred."
                break;
        }*/
    }
</script>