{% load static %}
<!-- check if these are already loaded? -->
<link rel="stylesheet" type="text/css" href="{% static 'weather/css/weather-icons.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'weather/css/weather-icons-wind.min.css' %}">
<!--
<style>
    .wi {
        font-size: 40px;
        color: darkgrey;
    }
</style>
-->
<style>
    .city {
        font-size: 36px;
        text-align: center;
    }
    .weather-icon {
        font-size: 64px;
        text-align: center;
    }
    .temp {
        font-size: 28px;
        text-align: center;
    }
    .temp-range {
        font-size: 14px;
    }
    .details .humidity .wind {
        font-size: 18px;
    }
</style>