{% load static %}
<!-- check if these are already loaded? -->
<link rel="stylesheet" type="text/css" href="{% static 'weather/css/weather-icons.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'weather/css/weather-icons-wind.min.css' %}">

<style>
    .city-forecast {
        font-size: 20px;
    }
    .time-range {
        font-size: 20px;
    }
    .time-forecast {
        font-size: 20px;
        text-align: center;
    }
    .weather-icon-forecast {
        font-size: 32px;
        text-align: center;
    }
    .temp-forecast {
        font-size: 28px;
        text-align: center;
    }
</style>